#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--color-info-bg);
  padding: 20px 0;
}
.info-graphic {
  border-radius: 0;
  margin: 60px auto 80px auto;
}
.info-text h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-headline-bg);
  color: var(--color-headline-text-page);
  margin-bottom: 1rem;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
.info-box {
  padding: 1.5rem 1rem 0.5rem 1rem;
  background-color: var(--color-infobox-1-bg);
}
.info-box:nth-of-type(2n) {
  background-color: var(--color-infobox-2-bg);
}
/* Standard (light mode) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode */
body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

/* Eventuel styling af header/nav i dark mode */
body.dark header,
body.dark nav {
  background-color: #1e1e1e;
}

/* Knappen */
#toggle {
  cursor: pointer;
  padding: 8px 15px;
  border: none;
  background: #333;
  color: white;
  border-radius: 4px;
}

body.dark #toggle {
  background: #ddd;
  color: #000;
}
